<div class="error-card">
  <h1>{{message}}</h1><br>
  <h2>Error code: {{error.status}}</h2><br>
  <pre>{{error.stack}}</pre>
  <br><br>
  <h2>This error can be reported to contact.me@jeffinnes.dev</h2>
</div>