<div class="intro-block">
  <h1>Looking for some quick advice?</h1>
  <h2>You are in the right spot!</h2>
</div>

<div class="advice-container">
  <span>{{{advice}}}</span>
</div>

<div class="user-choice">
  <a href="/quick-advice"><span>More please!</span></a>
</div>